#inicio{
    position: absolute;
    text-align: center; 
    top: 100px;
    left: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    width: 800px;
    height: 400px;
    border-radius: 300px;
}

#mov{
    position: absolute;
    top: 0px;
    left: 200px;
}

#Bienvenida{
    color: blue;
    margin-top: 45px;
    font-size: 50px;
}

#Mensaje{
    font-size: 30px;
    margin-top: 60px;
}

#imagen{
    width: 140px;
    height: auto;
}
#boton{
    position: absolute;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    top: 230px;
    left: 330px; 
}

@media(max-width: 1125px){
    #inicio{
        position: absolute;
        left: 100px;
    }
    #boton{
        position: absolute;
        left: 450px; 
    }
}

@media(max-width: 860px){
    #boton{
        position: absolute;
        left: 400px; 
    }
}

@media(max-width: 680px){
    #boton{
        position: absolute;
        left: 300px; 
    }
}

@media(max-width: 612px){
    #boton{
        position: absolute;
        top: 400px;
        left: 300px; 
    }
}

@media(max-width: 550px){
    #inicio{
        position: absolute;
        left: 0px;
    }
    #boton{
        position: absolute;
        top: 400px;
        left: 200px; 
    }
}

@media(max-width: 400px){
    #boton{
        position: absolute;
        top: 450px;
        left: 130px; 
    }
}

@media(max-width: 400px){
    #boton{
        position: absolute;
        top: 450px;
        left: 80px; 
    }
}

@media(max-width: 290px){
    #inicio{
        position: absolute;
        top: 230px;
    }
    #boton{
        position: absolute;
        top: 480px;
        left: 40px; 
    }
}


@media(max-width: 230px){
    #boton{
        position: absolute;
        top: 480px;
        left: 40px; 
    }
}