nav{
    position: absolute;
    top: 0%;
    left: 48%;
    right: 0%;
    font-size: 26px;
    width: 100%;
    height: 100%;
    max-width: 55%;
    max-height:  70px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    
}
nav a{
    color: rgb(23, 42, 95);
    font: 23px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}
#nav1 a:hover{
    color: #FFF;
}
#nav2 a:hover{
    color: #FFF;
}
#nav3 a:hover{
    color: #FFF;
}
#nav4 a:hover{
    color: #FFF;
}
#nav5 a:hover{
    color: #FFF;
}


#nav1{
    position: absolute;
    top: 14%;
    left: 0%;       
}
#nav1 a{
    text-decoration: none;
    z-index: 100;
}
#nav1:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;      
}
#nav1:before
{
    left: 0px;
} 
#nav1:hover:before
{
    width: 100%;
}
#nav2{
    position: absolute;
    top: 14%;
    left: 16%;    
}
#nav2 a{
    text-decoration: none;
    z-index: 100;
}
#nav2:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;
}
#nav2:before
{
    left: 0px;
} 


#nav2:hover:before
{
    width: 100%;
}

#nav3{
    position: absolute;
    top: 14%;
    left: 34.5%;
}
#nav3 a{
    text-decoration: none;
    z-index: 100;
}
#nav3:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;
}
#nav3:before
{
    left: 0px;
} 

#nav3:hover:before
{
    width: 100%;
}
#nav4{
    position: absolute;
    top: 14%;
    left: 55%;
}
#nav4 a{
    text-decoration: none;
}
#nav4:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;
}
#nav4:before
{
    left: 0px;
} 

#nav4:hover:before
{
    width: 100%;
}
#nav5{
    position: absolute;
    top: 14%;
    left: 70%;
}
#nav5 a{
    text-decoration: none;
}
#nav5:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;

}
#nav5:before
{
    left: 0px;
} 
#nav5:hover:before
{
    width: 100%;
}
@media (max-width: 1100px) {
    #nav1{
        left: 1%;
    }

    #nav2{
        left: 17%;
    }

    #nav3{
        left: 26%;
    }
    #nav4{
        left: 37.5%;
    }
    #nav6{
        left: 72%;
    }
}

@media (max-width: 1030px){
    nav{
    width: 100%;
    height: 100%;
    max-width: 14%;
    max-height:  100%;
    display: block;
    font-size: 80%;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    }
    #nav1{
        top: 0%;
        left: 2%;
    }

    #nav2{
        top: 5%; 
        left: 18%; 
    }
    
    #nav3{
        top: 10%;
        left: 18%;
    }

    #nav4{
        top: 15%;
        left: 2%;
    }

    #nav5{
        top: 20%;
        left: 18%;
    }
}

@media (max-width: 640px){
    nav{
        text-align: left;
        font-size: 65%;
    }

    #nav1{
        top: 0%;
    }

    #nav2{
        top: 15%;
        left: 0%; 
    }
    
    #nav3{
        top: 25%;
        left: 0%;
    }

    #nav4{
        top: 35%;
    }

    #nav5{
        top: 50%;
        left: 0%;
    }
}

@media (max-width: 610px){
    #nav1{
        top: 0%;
    }

    #nav2{
        top: 7%;
    }
    
    #nav3{
        top: 14%;
    }

    #nav4{
        top: 21%;
    }

    #nav5{
        top: 28%;
    }

    #nav6{
        top: 35%;
        left: 0%;
    }

    #nav7{
        top: 42%;
    }
}