#logo{
    top: 80px;
}

#contenedor{
    position: absolute;
    top: 90px;
    left: 400px;
    width: 600px;
}
#guardar_2{
    width: 80px;
}

#guardar1{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    left: 550px;
    top: 470px;
}

#CODIGO{
    position: absolute;
}

#codigo{
    position: absolute;
    left: 250px;
}

#PRODUCTO{
    position: absolute;
    top: 140px;
}

#NombreProducto{
    position: absolute;
    left: 250px;
}

#CANTIDAD{
    position: absolute;
    top: 240px;
}

#Cantidad{
    position: absolute;
    left: 250px;
}

#PRECIO{
    position: absolute;
    top:340px;
}

#precio{
    position: absolute;
    left: 250px;
}

#CADUCIDAD{
    position: absolute;
    top: 440px;
}

#FechaCadusidad{
    position: absolute;
    left: 250px;
}