#logo{
    top: 80px;
}

#contenedor{
    position: absolute;
    top: 15%;
    left: 27%;
    width: 100%;
    height: 100%;
    background-color: white;
    max-width: 600px;
    max-height: 400px;
    border: transparent;
    box-shadow: 0 0 10px rgb(147, 175, 252);
    border-radius: 4px;
}
input{
    border: 1px solid #0d6efd;
    border-radius: 4px;
}
input:focus{
    outline: none;
}

label{
    margin-left: 20px;
    color: #0a1b2e;
}

#p{
    text-align: center;
    color: #0d6efd;
}

#guardar1{
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #4257fa 100%);
    border-color: transparent;
    border-radius: 2px;
    color: white;
    width: 100%;
    position: absolute;
    top: 90%;
}
#guardar1:focus{
    outline: none;
}
#guardar1:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #63dcfd 0, #949ff7 100%);    
}

#CODIGO{
    position: absolute;
    top: 15%;
}

#codigo{
    position: absolute;
    left: 250px;
}

#PRODUCTO{
    position: absolute;
    top: 30%;
}

#NombreProducto{
    position: absolute;
    left: 250px;
}

#CANTIDAD{
    position: absolute;
    top: 45%;
}

#Cantidad{
    position: absolute;
    left: 250px;
}

#PRECIO{
    position: absolute;
    top: 60%;
}

#precio{
    position: absolute;
    left: 250px;
}

#CADUCIDAD{
    position: absolute;
    top: 75%;
}

#FechaCadusidad{
    position: absolute;
    left: 250px;
}