#logo{
    top: 80px;
}

#conten{
    position: absolute;
    top: 60px;
    left: 350px;
    width: 630px;
    height: 590px;
    background-color: white;
}

label{
    margin-left: 20px;
}

#idproducto{
    width: 50px;
    background-color: transparent;
    font-size: 27px;
    border-color: transparent;
    font-weight: bold;
    color: black;
}
#TITULO{
    text-align: center;
}

#CODIGO{
    position: absolute;
    top: 50px;
}

#codigo{
    position: absolute;
    left: 300px;
}

#NOMBREproducto{
    position: absolute;
    top: 100px; 
}

#NombreProducto{
    position: absolute;
    left: 300px;
}

#NOMBREproveedor{
    position: absolute;
    top: 150px;  
}

#NombreProvedor{
    position: absolute;
    left: 300px; 
}

#CATEGORIA{
    position: absolute;
    top: 200px;
}

#categoria{
    position: absolute;
    left: 300px;
    border-radius: 20px;
    width: 274px;
}

#consumibles{
    position: absolute;
    top: 250px; 
}

#unidadMedida{
    position: absolute;
    left: 300px;
    border-radius: 20px;
    width: 274px;
}

#PrecioActual{
    position: absolute;
    top: 450px;
}

#precioActual{
    position: absolute;
    left: 300px;
}

#CANTIDAD{
    position: absolute;
    top: 300px;  
}

#UnidadCantidad{
    position: absolute;
    top: 350px;  
}

#unidadCantidad{
    position: absolute;
    left: 300px;
}

#PrecioUnidad{
    position: absolute;
    top: 400px;
}

#precioUnidad{
    position: absolute;
    left: 300px;
}

#Cantidad{
    position: absolute;
    left: 300px;
}

#FECHA{
    position: absolute;
    top: 500px;   
}

#FechaCadusidad{
    position: absolute;
    left: 300px;
    width: 274px;
}

#guardar1{
    position: absolute;
    top: 550px;
    width: 630px;
}
