#contenedor{
    position: absolute;
    top: 15%;
    left: 4%;
    width: 100%;
    height: 100%;
    max-width: 1250px;
    max-height: auto;
}

#contenedor .row{
    gap: 3%;
    row-gap: 20px;
}

#tarjeta{
    border: 1px solid;
    border-radius: 10%;
    width: 100%;
    background-color: white;
    color: black;
    max-width: 400px;
    display: block;
}

#eliminar{
    width: 70px;
}

#botonX{
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    margin-top: -300px;
    margin-left: 350px;
}

#editar{
    width: 50px;
}

#BotonEditar{
    background-color: transparent;
    border-color: transparent;
}

label{
    margin-left: 20px;
}

input{
    width: 50%;
    border-color: transparent;
    font-size: 25px;
    max-width: 100%;
}

#codigo{
    margin-left: 40px;
}

#NombreProducto{
    margin-left: 10px;
}

#Cantidad{
    margin-left: 10px;
}

#precioActual{
    margin-left: 43px;
}

#precioUnidad{
    position: absolute;
    width: 100%;
    margin-left: 20px;
    max-width: 80px;
}

#agregar{
    position: absolute;
    left: 27%;
    top: 15%;
    width: 100%;
    max-width: 300px;
}

#agregarDetalleProducto{
    width: 100%;
    background-color: black;
}

@media (max-width: 1024px) {
    #contenedor{
        top: 1%;
        left: 17%;
        max-width: 850px;  
    }
    .row{
        gap: 5%;
    }
}

@media (max-width: 800px) {
    #contenedor{
        top: 3%;
        left: 27%;
        max-width: 400px;  
    }
}