#nav {
    position: absolute;
    left: 0%;
    width: 100%;
    max-width: 35%;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

#nav div a {
    color: rgb(23, 42, 95);
    font: 23px Raleway;
    text-decoration: none;
    z-index: 100;
    margin: 0px 10px;
    padding: 10px 10px;
    cursor: pointer;
}
#entradas {
    position: absolute;
    top: 14%;
    left: 3%;
    z-index: 100;
}
#entradas:hover{
    color: #FFF;
}
#entradas div a{
    z-index: 100;
}
#entradas:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;      
}
#entradas:before
{
    left: 0px;
} 
#entradas:hover:before
{
    width: 100%;
}
#bodega {
    position: absolute;
    top: 14%;
    left: 55%;
}
#bodega:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;      
}
#bodega:before
{
    left: 0px;
} 
#bodega:hover:before
{
    width: 100%;
}
#bodega:hover{
    color: #FFF;
}

img {
    width: 47.5px;
    position: relative;
    border-radius: 50%;
}
#delete{
    width: 50px;

}

#botonX #tooltips {
    visibility: hidden;
    width: 120px;
    background-color: rgb(236, 91, 91);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Posicion del tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -80px;
}

#botonX:hover #tooltips {
    visibility: visible;
}

#contenedor {
    position: absolute;
    top: 15%;
    left: 3.5%;
    width: 100%;
    height: 100%;
    max-width: 93%;
    max-height: 85%;
}

#contenedor .row {
    gap: 3%;
    row-gap: 30px;
}

#tarjeta {
    width: 100%;
    background-color: white;
    color: black;
    max-width: 404px;
    max-height: 550px;
    display: block;
    padding-bottom: 50px;
    box-shadow: 0 0 10px rgb(147, 175, 252);
    border-radius: 3px;
}

#eliminar {
    width: 66px;
}

#botonX {
    text-align: center;
    position: absolute;
    margin-top: -0%;
    margin-left: 200px;
}

#BotonEditar {
    width: 20%;
    text-align: center;
    position: absolute;
    display: inline-block;  
    margin-top: -0%;
    margin-left: -50px;
}

#BotonEditar #tooltip {
    visibility: hidden;
    width: 120px;
    background-color: rgb(166, 212, 96);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Posicion del tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -80px;
}

#BotonEditar:hover #tooltip {
    visibility: visible;
}

label {
    margin-left: 20px;
}

input {
    width: 50%;
    border-color: transparent;
    font-size: 25px;
    max-width: 100%;
}

#codigo {
    margin-left: 40px;
}

#NombreProducto {
    margin-left: 10px;
}

#Cantidad {
    margin-left: 10px;
    width: 200px;
}

#Cantidad2 {
    margin-left: 10px;
    width: 100px;
}

#precioActual {
    margin-left: 43px;
}

#precioUnidad {
    position: absolute;
    width: 100%;
    margin-left: 20px;
    max-width: 80px;
}

#agregar {
    position: absolute;
    left: 27%;
    top: 15%;
    width: 100%;
    max-width: 300px;
}

#agregarDetalleProducto {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 295px;

}
#agregarDetalleProducto a {
    text-decoration: none;
}
#agregarDetalleProducto a button {
    outline: none;
    border-color: transparent;
    color: 0d6efd;
}

#agregarDetalleProducto a button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    color: #fff;
    transition: all 0.3s;
    border-radius: 4px;
}

#bienvenida {
    background-color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 27%;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 200px;
    border-radius: 20px;
}

#masTiendas {
    position: absolute;
    top: 70%;
    left: 33%;
    width: 34%;
}

#masTiendas button {
    border: transparent;
    background-color: #5e6a92;
    color: white;
    width: 100%;
    font-size: 25px;
}

#masTiendas button:focus {
    border-radius: 6px solid #233675;
}

@media (max-width: 1024px) {
    #contenedor {
        top: 1%;
        left: 17%;
        max-width: 850px;
    }

    .row {
        gap: 5%;
    }
}

@media (max-width: 800px) {
    #contenedor {
        top: 3%;
        left: 27%;
        max-width: 400px;
    }
}

*/ #car {
    border-radius: 30px;
    padding: 12px;
    border-color: #0d6efd;
    width: 100%;
    margin: 20px;
    background: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#botonesProducto {
    position: absolute;
    margin-right: 11px;
    margin-top: 10px;
    top: 20px;
    right: 5%;
}

#espaciobotonmas {
    padding: 20px;
}

#botonvermas {
    position: absolute;
    margin-right: 11px;
    right: 5%;
}