#logo{
    top: 80px;
}

#conten{
    position: absolute;
    top: 12%;
    left: 27%;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    max-width: 630px;
    max-height: 590px;
}

label{
    margin-left: 20px;
}

#idproducto{
    width: 100%;
    background-color: transparent;
    font-size: 27px;
    border-color: transparent;
    font-weight: bold;
    color: black;
    max-width: 50px;
}
#TITULO{
    text-align: center;
    color: #0a1b2e;
}

#CODIGO{
    position: absolute;
    top: 9%;
}

#codigo{
    position: absolute;
    left: 300px;
}

#NOMBREproducto{
    position: absolute;
    top: 18%; 
}

#NombreProducto{
    position: absolute;
    left: 300px;
}

#NOMBREproveedor{
    position: absolute;
    top: 27%;  
}

#NombreProvedor{
    position: absolute;
    left: 300px; 
}

#CATEGORIA{
    position: absolute;
    top: 36%;
}

#categoria{
    position: absolute;
    left: 300px;
    width: 252px;
}

#consumibles{
    position: absolute;
    top: 45%; 
}

#unidadMedida{
    position: absolute;
    left: 300px;
    width: 252px;
}

#PrecioActual{
    position: absolute;
    top: 81%;
}

#precioActual{
    position: absolute;
    left: 300px;
}

#CANTIDAD{
    position: absolute;
    top: 54%;  
}

#UnidadCantidad{
    position: absolute;
    top: 63%;  
}

#unidadCantidad{
    position: absolute;
    left: 300px;
}

#PrecioUnidad{
    position: absolute;
    top: 72%;
}

#precioUnidad{
    position: absolute;
    left: 300px;
}

#Cantidad{
    position: absolute;
    left: 300px;
}

#FECHA{
    position: absolute;
    top: 90%;   
}

#FechaCadusidad{
    position: absolute;
    left: 300px;
    width: 274px;
}

#guardar1{
    background-color: #0d437e;
    color: white;
    border: 1px solid black;
    width: 100%;
    position: absolute;
    top: 99.9%;
};

@media (max-width: 1024px) {
    #conten{
        top: 0%;
        left: 20%;
    }
}

@media (max-width: 800px) {
    #conten{
        left: 17%;
    }
}