#avatar{
    display: flex;
    flex-wrap: wrap;
    max-width: 150px;
    position: absolute;
    left: 1190px;
    top: 130px;
}

#bienvenida{
    text-align: center;
    margin-top: 50px;
}

#aviso{
    color: black;
}

#masTiendas{
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    top: 250px;
    left: 320px;
}

#mas{
    width: 50px;
}

#datosUsuario{
    position: absolute;
    left: 1180px;
    top: 240px;
}

#dato{
    font-size: 35px;
    font-style: italic;
}

#logo{
    position: absolute;
    top: 80px;
}

#mensaje{
    position: absolute;
    top: 170px;
    left: -200px;
}

#contenido{
    position: absolute;
    top: 120px;
    left: 330px;
    width: 700px;
    background-color: white;
    height: 380px;
    border-color: black;
    border: 1px solid;
}

input{
    border-color: black;
}

#nombreNegocio{
    position: absolute;
    left: 220px;
    top: 5px;
}

#RUC{
    position: absolute;
    top: 60px;
    left: 80px;
}

#DIRECCION{
    position: absolute;
    top: 120px;
    left: 80px;
}

#contactos{
    position: absolute;
    top: 180px;
}

#botones{
    position: absolute;
    top: 335px;
}

#ruc{
    position: absolute;
    left:135px;
}

#direccion{
    position: absolute;
    left: 135px;
}

#Contactos{
    position: absolute;
    left: 270px;
}

#CELULAR{
    position: absolute;
    top: 40px;
    left: 40px;
}

#TELEFONO{
    position: absolute;
    top: 40px;
    left: 470px;
}

#boton{
    position: absolute;
    left: 500px;
}

#Boton{
    position: absolute;
    left: 0px;
}

#telefono{
    width: 200px;
}

#Editar{
    width: 200px;
}

#Celular{
    margin-left: 80px;
}

#Telefono{
    margin-left: 35px;
}

#Agregar{
    width: 300px;
}

#Boton{
    position: absolute;
}

@media(max-width: 1125px){
    #datosUsuario{
        position: absolute;
        left: 1180px;
    }
    #avatar{
        position: absolute;
        left: 1180px;
    }

    #contenido{
        position: absolute;
        left: 290px;
    }
}

@media(max-width: 1090px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 1060px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 1030px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 1000px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 960px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 920px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 870px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 830px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 750px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }

    #contenido{
        position: absolute;
        left: 320px;
    }
}

@media(max-width: 710px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }
}

@media(max-width: 670px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }
}

@media(max-width: 630px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }
}

@media(max-width: 590px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }
}

@media(max-width: 590px){
    #datosUsuario{
        position: absolute;
        left: 1200px;
    }
    #avatar{
        position: absolute;
        left: 1200px;
    }
}

@media(max-width: 334px){
    #datosUsuario{
        position: absolute;
        left: 1100px;
    }
    #avatar{
        position: absolute;
        left: 1100px;
    }
}