#usuario{
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 10%;
    max-height: 20%;
    position: absolute;
    left: 88%;
    top: 10%;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 0 10px rgb(147, 175, 252);
    border-radius: 35%;
}

#avatar{
    width: 80%;
}

#bienvenida{
    background-color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 7%;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 200px;
}

#masTiendas{
    position: absolute;
    top: 70%;
    left: 33%;
    width: 34%;
}
#masTiendas a{
 text-decoration: none;
}

#masTiendas button{
    width: 100%;
    height: 100%;
    color: #fff;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;    
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    outline: none;
}

#masTiendas button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
#masTiendas button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
#masTiendas button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}


#aviso{
    color: black;
}

#mapa{
    position: absolute;
    top: 14%;
    left: 358px;
    border: 1px solid #0d6efd;
    border-radius: 4px;
}

label{
    margin-left: 20px;
    color: black;
    font-size: 23px;
}

#dato{
    font-size: 30px;
}

#contenido{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 100%;
    max-width: 700px;
    background-color: white;
    height: 100%;
    max-height: 380px;
    box-shadow: 0 0 10px rgb(147, 175, 252);
    border-radius: 5px;
}

input{
    border: 1px solid #0d6efd;
    border-radius: 4px;
}

#nombreNegocio{
    text-align: center;
    color: #0d6efd;
}

#nombreNegocio h1{
    font-size: 35px;
}

#RUC{
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    height: auto;
    max-width: 389px;
}

#DIRECCION{
    position: absolute;
    top: 46.8%;
    left: 0%;
    width: 100%;
    height: auto;
    max-width: 389px;
}

#ruc{
    position: absolute;
    left: 150px;
    width: 180px;
}

#direccion{
    position: absolute;
    left: 150px;
    width: 180px;
}

#CELULAR{
    position: absolute;
    top: 65%;
    text-align: center;
}

#celular{
    position: absolute;
    left: 150px;
    width: 180px;
}

#botones{
    position: absolute;
    top: 86%;
    width: 100%;    
}

#boton{
    position: absolute;
    left: 69%;
}

#Boton{
    position: absolute;
    left: 3%;
}

#Editar{
    width: 200px;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #4257fa 100%);
    border-color: transparent;
    border-radius: 2px;
}

#Editar a{
    color: white;
    text-decoration: none;
}
#Editar:focus{
    outline: none;
}
#Editar:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #63dcfd 0, #949ff7 100%);
    color: #0d6efd;
}

#Agregar{
    width: 300px;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #4257fa 100%);
    border-color: transparent;
    border-radius: 2px;
}

#Agregar a{
  color: white;
  text-decoration: none;
}
#Agregar:focus{
    outline: none;
}
#Agregar:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #63dcfd 0, #949ff7 100%);
    color: #0d6efd;
}

@media (max-width:1024px) {
    #contenido{
        top: 8%;
        left: 16%;
    }
    #avatar01{
        top: 1%;
        left: 85%;
    }
    #datosUsuario{
        top: 9%;
        left: 85%;
    }
}

@media (max-width: 800px) {
    #contenido{
        top: 8%;
        left: 13%;
    }
    #avatar01{
        top: 0%;
        left: 70%;
        max-width: 90px;
    }
    #datosUsuario{
        top: 0%;
        left: 81.2%;
    }
}

@media (max-width: 640px) {
    #contenido{
        top: 0%;
        left: 13%;
    }
    #avatar01{
        display: none;
    }
    #datosUsuario{
       display: none;
    }
    #Editar{
        width: 150px;
    }
    
    #Agregar{
        width: 230px;
    }
    #TELEFONO{
        left: 54%;
    }
    #boton{
        left: 72.5%;
    }
}

@media (max-width: 600px) {
    #contenido{
        top: 5%;
        max-width: 550px;
    }
}