#avatar01{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 150px;
    position: absolute;
    left: 87%;
    top: 13%;
    background-color: white;
    border: 1px solid black;
}

#bienvenida{
    text-align: center;
    margin-top: 10%;
}

#aviso{
    color: black;
}

#masTiendas{
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    top: 70%;
    left: 46%;
}

#mas{
    width: 100%;
    height: auto;
    max-width: 50px;
}

#mapa{
    position: absolute;
    top: 25%;
    left: 435px;
    border: 1px solid black;
}

label{
    margin-left: 20px;
}

#datosUsuario{
    position: absolute;
    left: 87%;
    top: 30%;
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: auto;
    text-align: center;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
}

#dato{
    font-size: 35px;
    font-style: italic;
}

#contenidos{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 100%;
    max-width: 700px;
    background-color: white;
    height: 100%;
    max-height: 380px;
    border-color: black;
    border: 1px solid;
    border-radius: 10px;
}

inputr{
    border-color: black;
}

#nombreNegocio{
    margin-top: 30px;
    text-align: center;
}

#RUC{
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    height: auto;
    max-width: 389px;
}

#DIRECCION{
    position: absolute;
    top: 48%;
    left: 0%;
    width: 100%;
    height: auto;
    max-width: 389px;
}

#ruc{
    position: absolute;
    left: 150px;
}

#direccion{
    position: absolute;
    left: 150px;
}

#CELULAR{
    position: absolute;
    top: 65%;
    text-align: center;
}

#celular{
    position: absolute;
    left: 150px;
}

#botones{
    position: absolute;
    top: 89%;
    width: 100%;
}

#boton{
    position: absolute;
    left: 71.4%;
}

#Boton{
    position: absolute;
    left: 0%;
}

#Editar{
    width: 200px;
    background-color: black;
}

#Agregar{
    width: 300px;
    background-color: black;
}

@media (max-width:1024px) {
    #contenido{
        top: 8%;
        left: 16%;
    }
    #avatar01{
        top: 1%;
        left: 85%;
    }
    #datosUsuario{
        top: 9%;
        left: 85%;
    }
}

@media (max-width: 800px) {
    #contenido{
        top: 8%;
        left: 13%;
    }
    #avatar01{
        top: 0%;
        left: 70%;
        max-width: 90px;
    }
    #datosUsuario{
        top: 0%;
        left: 81.2%;
    }
}

@media (max-width: 640px) {
    #contenido{
        top: 0%;
        left: 13%;
    }
    #avatar01{
        display: none;
    }
    #datosUsuario{
       display: none;
    }
    #Editar{
        width: 150px;
    }
    
    #Agregar{
        width: 230px;
    }
    #TELEFONO{
        left: 54%;
    }
    #boton{
        left: 72.5%;
    }
}

@media (max-width: 600px) {
    #contenido{
        top: 5%;
        max-width: 550px;
    }
}


#avatar{
    max-width: 120px;
}
#Formulario{
    padding-top:1%;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:20px;
    background-color: rgb(255, 255, 255);
}
#Formulario2{
    padding-top:1%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:20px;
    background-color: rgb(255, 255, 255);
}