#contenido{
    position: absolute;
    top: 90px;
    left: 45px;
    width: 1250px;
}

.row{
    gap: 20px;
}

button{
    background-color: white;
    border: solid black;
}

#tarjeta{
    border: 1px solid;
    width: 375px;
    height: 410px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    color: black;
}

#idRegistroSalidas{
    width: 70px;
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
}

input{
    border-color: transparent;
}

#creacionRegistroEntradas{
    width: 130px;
}

#fecha{
    margin-right: 30px;
}