#nav {
    position: absolute;
    left: 0%;
    width: 100%;
    max-width: 35%;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

#nav div a {
    color: rgb(23, 42, 95);
    font: 23px Raleway;
    text-decoration: none;
    z-index: 100;
    margin: 0px 10px;
    padding: 10px 10px;
    cursor: pointer;
}
#entradas {
    position: absolute;
    top: 14%;
    left: 3%;
    z-index: 100;
}
#entradas:hover{
    color: #FFF;
}
#entradas div a{
    z-index: 100;
}
#entradas:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;      
}
#entradas:before
{
    left: 0px;
} 
#entradas:hover:before
{
    width: 100%;
}
#bodega {
    position: absolute;
    top: 14%;
    left: 55%;
}
#bodega:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #094399;
    opacity: 0.3;
    transition: all 0.4s;      
}
#bodega:before
{
    left: 0px;
} 
#bodega:hover:before
{
    width: 100%;
}
#bodega:hover{
    color: #FFF;
}

#eleccion1{
    position: absolute;
    top: 45%;
    left: 15%;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 70px;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border-color: transparent;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}
#eleccion1:focus{
    outline: none;
}
#eleccion1:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    color: #fff;
    transition: all 0.3s;
    border-radius: 4px;
}

#eleccion1 a{
    color: white;
    text-decoration: none;
}

#eleccion2{
    position: absolute;
    top: 45%;
    left: 55%;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border-color: transparent;
    border-radius: 4px;
    color: #fff;
    max-width: 400px;
    max-height: 70px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

#eleccion2 a{
    color: white;
    text-decoration: none;
}
#eleccion2:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    color: #fff;
    transition: all 0.3s;
    border-radius: 4px;
}

@media (max-width: 1024px) {
    #eleccion1{
        top: 17%;
    }
    #eleccion2{
        top: 17%;
    }
}

@media (max-width: 800px) {
    #eleccion1{
        left: 13%;
    }
    #eleccion2{
        left: 60%;
    }
}

@media (max-width: 700px) {
    #eleccion1{
        top: 13%;
        left: 20%;
    }
    #eleccion2{
        top: 22%;
        left: 20%;
    }
}