#logo{
    top: 80px;
}

#Entradas{
    position: absolute;
    top: 110px;
    left: 580px;
    text-transform: uppercase;
    font-size: 30px;
}

#Salidas{
    position: absolute;
    top: 110px;
    left: 580px;
    text-transform: uppercase;
    font-size: 30px;
}

#fecha{
    position: absolute;
    top: 160px;
    left: 160px;
}

#CODIGO{
    position: absolute;
    top: 220px;
    left: 75px;
}

#Dtienda{
    position: absolute;
    top: 280px;
    left: 150px;
}

#cliente{
    position: absolute;
    top: 340px;
    left: 110px;
}

#tabla{
    position: absolute;
    top: 400px;
    left: 10px;
    text-align: center;
}

#codigo{
    width: 250px;
}

#Cantidad{
    width: 150px;
}