#logo{
    top: 80px;
}

#Entradas{
    position: absolute;
    top: 110px;
    left: 580px;
    text-transform: uppercase;
    font-size: 30px;
}

#fecha{
    position: absolute;
    top: 160px;
    left: 160px;
}

#idregistro{
    width: 50px;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 28px;
    color: white;
}

#CODIGO{
    position: absolute;
    top: 220px;
    left: 70px;
}

#Dtienda{
    position: absolute;
    top: 280px;
    left: 150px;
}

#cliente{
    position: absolute;
    top: 340px;
    left: 110px;
}

#NombreProveedor{
    width: 270px;
    text-align: center;
}

#tabla{
    position: absolute;
    top: 400px;
    text-align: center;
    background-color: black;
}

#codigo{
    width: 250px;
}

#Cantidad{
    width: 150px;
}

#UnidadMedida{
    width: 250px;
}

#precioActual{
    width: 150px;
}

#NombreProducto{
    width: 320px;
}

#boton{
    position: absolute;
    top: 340px;
    left: 1200px;
}

#numero{
    width: 70px;
}