#logo{
    top: 80px;
}

#fechas{
    border: 1px solid black;
    position: absolute;
    left: 80px;
}

#codigoDocumento{
    border: 1px solid black;
    position: absolute;
    left: 205px;
}

#Tienda{
    border: 1px solid black;
    position: absolute;
    left: 90px;
}

#arriba{
    background-color: white;
    border: 1px solid black;
    height: 400px;
    position: absolute;
    width: 1366px;
    left:0px;
    top: 110px;
}

button{
    background-color: white;
    border: solid black;
}

#Entradas{
    position: absolute;
    top: 0px;
    left: 580px;
    text-transform: uppercase;
    font-size: 30px;
}

#fecha{
    position: absolute;
    top: 60px;
    left: 160px;
}

#idregistro{
    width: 50px;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 28px;
    color: black;
}

#CODIGO{
    position: absolute;
    top: 120px;
    left: 33px;
}

#Dtienda{
    position: absolute;
    top: 180px;
    left: 150px;
}

#cliente{
    position: absolute;
    top: 240px;
    left: 110px;
}

#NombreProveedor{
    width: 250px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    left: 130px;
}

#tabla{
    position: absolute;
    top: 400px;
    text-align: center;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#columna{
    background-color:midnightblue;
    color:seashell;
}

#codigo{
    width: 250px;
    border-color: transparent;
    background-color: transparent;
}

#Cantidad{
    width: 150px;
    border-color: transparent;
    background-color: transparent;
}

#UnidadMedida{
    width: 250px;
    border-color: transparent;
    background-color: transparent;
}

#precioActual{
    width: 150px;
    border-color: transparent;
    background-color: transparent;
}

#NombreProducto{
    width: 320px;
    border-color: transparent;
    background-color: transparent;
}

#boton{
    position: absolute;
    top: 230px;
    left: 1230px;
}

#numero{
    width: 70px;
    border-color: transparent;
    background-color: transparent;
}