#contenido{
    position: absolute;
    top: 120px;
    left: 180px;
}

#tarjeta{
    border: 1px solid;
    width: 375px;
    height: 190px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    color: black;
}

button{
    background-color: white;
    border: solid black;
}

.row{
    gap: 20px;
}

#idRegistroSalidas{
    width: 70px;
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
}

#masProveedor{
    position: absolute;
    top: 60px;
    left: 1290px;
    background-color: transparent;
    border-color: transparent;
}

#mas{
    width: 50px;
}

#fecha{
    top: 50px;
}

#creacionRegistroSalidas{
    background-color: transparent;
    border-color: transparent;
}

#boton{
    position: absolute;
    top: 150px;
}

#detalles{
    width: 375px;
}