#Salidas{
    position: absolute;
    top: 110px;
    left: 580px;
    text-transform: uppercase;
    font-size: 30px;
}

#logo{
    top: 80px;
}

#fecha{
    position: absolute;
    top: 160px;
    left: 160px;
}

#CODIGO{
    position: absolute;
    top: 220px;
    left: 75px;
}

#Dtienda{
    position: absolute;
    top: 280px;
    left: 150px;
}

#cliente{
    position: absolute;
    top: 340px;
    left: 110px;
}