#logo{
    top: 80px;
}

#Salidas{
    position: absolute;
    top: 80px;
    left: 580px;
    text-transform: uppercase;
    font-size: 30px;
}

#fecha{
    position: absolute;
    top: 160px;
    left: 160px;
}

#CODIGO{
    position: absolute;
    top: 220px;
    left: 70px;
}

#Dtienda{
    position: absolute;
    top: 280px;
    left: 150px;
}

#cliente{
    position: absolute;
    top: 340px;
    left: 145px;
}

#tabla{
    position: absolute;
    top: 400px;
    text-align: center;
    background-color: black;
}

#salidaCantidad{
    width: 270px;
}

#codigo{
    width: 250px;
}

#Cantidad{
    width: 170px;
}

#UnidadMedida{
    width: 260px;
}

#precioActual{
    width: 160px;
}

#NombreProducto{
    width: 320px;
}

#numero{
    width: 70px;
}

#idregistro{
    background-color: transparent;
    border-color: transparent;
    width: 70px;
    font-weight: bolder;
    color: white;
    font-size: 28px;
}

#boton{
    position: absolute;
    top: 355px;
    left: 1230px;
}

#numero{
    width: 70px;
}

#Tienda{
    width: 275px;
}

#NombreProveedor{
    width: 275px;
}