<LINK REL=StyleSheet HREF="/css/proveedor/proveedoragregar.css" TYPE="text/css" MEDIA=screen>
<div class="row mt-5">
    <div class="col-4 "></div>
    <div class="col-4 p-4 mt-5">
        <form action="/proveedor/agregar/{{user.idUsuarios}}" method="POST" name="f1">
            <div class="border rounded " id="Formulario">
                <div class="container">
                    <label class="form-label text-primary">Nombre del Proveedor <i
                            class="bi bi-person-circle"></i></label>
                    <input class="form-control" type="text" name="NombreProveedor">

                    <label class="form-label text-primary">Dirección <i class="bi bi-geo"></i></label>
                    <input class="form-control" type="text" name="Direccion">

                    <label class="form-label text-primary">Celular <i class="bi bi-phone"></i></label>
                    <input class="form-control" type="text" name="Celular" maxlength="10">

                    <label class="form-label text-primary">Teléfono <i class="bi bi-telephone"></i></label>
                    <input class="form-control" type="text" name="Telefono" maxlength="10">

                    <label class="form-label text-primary">Estado </label>
                    <input class="form-control" type="text" name="Estado" value="1">

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-outline-primary text-primaty ">Guardar </button>
                    </div>
                </div>
        </form>
    </div>
</div>
<!-- 
<LINK REL=StyleSheet HREF="/css/proveedor/proveedoragregar.css" TYPE="text/css" MEDIA=screen>
<form action="/proveedor/agregar/{{user.idUsuarios}}" method="POST" name="f1" id="f1">
<div id="totalcontenido">
    <p id="p">Nuevo Proveedor</p>
    <div id="contenedor_1">
        <div id="NOMBRE">
            <label id="lblnprovedor">Nombre del Proveedor:</label>
            <input type="text" name="NombreProveedor" id="NombreProveedor">
        </div>
        <div id="DIRECCION">
            <label id="lbldireccion">Dirección:</label>
            <input type="text" name="Direccion" id="Direccion">
        </div>
        <div id="CELULAR">
            <label id="lblcelular">Celular:</label>
            <input type="text" name="Celular" id="Celular" maxlength="10">
        </div>
        <div id="TELEFONO">
            <label id="lbltelefono">Teléfono:</label>
            <input type="text" name="Telefono" id="Telefono" maxlength="10">
        </div>
        <div id="ESTADO">
            <label id="lblcodigo">Estado:</label>
            <input type="text" name="Estado" id="codigo">
        </div>
        <button type="submit" id="guardar1">Guardar</button>
    </div>
</div>
</form>
<script>
    function inicio() {
        document.f1.codigo.value = 1
    };
    window.onload = inicio;
</script>
-->