<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
<form action="/" method="post">
        <div id="mov">
             <div id="inicio">
            <button type="submit" id="boton"><img src="/img/flecha.png" id="imagen"></button>
                <h1 id="Bienvenida"> Bienvenidos a Fintech</h1>
                <h2 id="Mensaje">¡¡ Tener todo en orden significa tener todo bajo control !!</h2>
            </div>
        </div>
    </div>
</form>