<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
<form action="/" method="post">
    <div id="movs">
        <div id="imagen">
            <img src="/img/Fintech.png">
        </div>
        <div id="inicio">
            <h2 id="Mensaje" class="text-primary">
                ¡¡ Tener todo en orden significa tener todo bajo control !!
            </h2>
        </div>
        <button type="submit" class="boton continuar">
				<span>Continuar</span>
				<svg>
					<rect x="0" y="0" fill="none"></rect>
				</svg>
			</button>
    </div>
</form>