<LINK REL=StyleSheet HREF="/css/index.css" TYPE="text/css" MEDIA=screen>
<form action="/" method="post">
    <div id="movs">
        <div id="imagen">
            <img src="/img/Fintech.png">
        </div>
        <div id="inicio">
            <h2 id="Mensaje">
                ¡¡ Tener todo en orden significa <br> tener todo bajo control !!
            </h2>
        </div>
        <div id="boton">
        <button type="submit">Continuar</button>
        </div>
    </div>
</form>