<LINK REL=StyleSheet HREF="/css/tienda/tiendaAgregar.css" TYPE="text/css" MEDIA=screen>
<div id="datosUsuario">
    <img src="/img/avatar.png" id="avatar"></img>
    <p>
        <p id="dato">{{user.username}}</p>
    </p>
</div>
<div id="contenido">
    <label id="DatoNegocio">Datos del Negocio</label>
    <div id="formulario">
        <form action="/tienda/agregar/{{user.idUsuarios}}" method="POST">
            <div>
                <div>
                    <label id="Nombre">Nombre:</label>
                    <input type="text" name="nombreNegocio" id="nombreNegocio" checked>
                </div>
                <div>
                    <div>
                        <label id="RUC">RUC:</label>
                        <input type="text" name="ruc" id="ruc" maxlength="13" checked>
                    </div>
                    <div>
                        <label id="Direccion">Dirección</label>
                        <input type="text" name="direccion" id="direccion" checked>
                    </div>
                    <div id="CELULAR">
                        <label id="celular1">Celular:</label>
                        <input type="text" name="celular" maxlength="10" id="celular" checked>
                    </div>
                    <div id="Telefonos">
                        <label id="telefono">Teléfono:</label>
                        <input type="text" name="telefono" maxlength="10" id="Telefono">
                    </div>
                </div>
                <div id="boton">
                    <button type="submit" id="guardar1">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>