#contenido{
    position: absolute;
    top: 120px;
    left: 350px;
    width: 600px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
}

#guardar{
    position: absolute;
    width: 600px;
    top: 398px;
}

label{
    margin-left: 20px;
}

#PRODUCTOS{
    position: absolute;
}

#Producto{
    position: absolute;
    left: 320px;
}

#UnidadVenta{
    position: absolute;
    top: 50px;
}

#unidadVeneta{
    position: absolute;
    left: 320px;
}

#ProductoCantidad{
    position: absolute;
    top: 100px;
}

#productoCantidad{
    position: absolute;
    left: 320px;
}

#CantidadVenta{
    position: absolute;
    top: 150px;
}

#cantidadVenta{
    position: absolute;
    left: 320px;
}

#precioUnidad{
    position: absolute;
    top: 200px;
}

#precio{
    position: absolute;
    left: 320px;
}

#PROSENTAJES{
    position: absolute;
    top: 250px;
}

#porsentaje{
    position: absolute;
    left: 320px;
    width: 252px;
}

#productos{
    width: 30px;
    position: absolute;
    left: 320px;
}

#Precioventa{
    position: absolute;
    top: 300px;
}

#precioVenta{
    position: absolute;
    left: 320px;
}

#PrecioTotalVenta{
    position: absolute;
    top: 350px;
}

#precioTotalVenta{
    position: absolute;
    left: 320px;
}

#numero{
    background-color: white;
    width: 300px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 120px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#idproducto{
    width: 50px;
    background-color: transparent;
    border-color: transparent;
    font-size: 26px;
    font-weight: bold;
    color: black;
}