#contenedor {
    width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 385px;
    position: absolute;
    top: 17%;
    left: 31%;
    background-color: white;
    border: transparent;
    box-shadow: 0 0 10px rgb(147, 175, 252);
    border-radius: 4px;
}

input {
    border: 1px solid #0d6efd;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

#p {
    text-align: center;
    color: #0d6efd;
    font-size: 30px;
}

#guardar {
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #4257fa 100%);
    border-color: transparent;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 90%;
}
#guardar:focus{
    outline: none;
}
#guardar:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #63dcfd 0, #949ff7 100%);    
}

#guardar_1 {
    width: 50px;
}

label {
    margin-left: 20px;
    color: #0a1b2e;
}

#NOMBRES {
    position: absolute;
    top: 14%;
}

#NombreProveedor {
    position: absolute;
    left: 246px;
}

#DIRECCION {
    position: absolute;
    top: 28%;
}

#direccion {
    position: absolute;
    left: 246px;
}

#celular {
    position: absolute;
    left: 246px;
}

#CELULAR {
    position: absolute;
    top: 42%;
}

#TELEFONO {
    position: absolute;
    top: 56%
}

#Telefono {
    position: absolute;
    left: 246px;
}

#ESTADO {
    position: absolute;
    top: 70%;
}

#Estado {
    position: absolute;
    left: 246px;
    border: 1px solid #0d6efd;
    border-radius: 4px;
    color: #0d6efd;
    position: absolute;
    width: 270px;
    height: 35px;
    font-size: 20px;
    text-align: center;
}
#Estado:focus {
    outline: none;
}

@media (max-width: 1024px) {
    #contenedor {
        top: 8%;
    }
}

@media (max-width: 600px) {
    #contenedor {
        left: 15%;
    }
}