#conetendor{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 100%;
    height: auto;
    max-width: 1200px;
    max-height: auto;
}

.row{
    gap: 3%;
    row-gap: 20px;
}

#masProveedor{
    position: absolute;
    top: 11%;
    left: 94%;
    background-color: transparent;
    border-color: transparent;
}

#mas{
    width: 50px;
}

#estado{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}

#NombreProveedor{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}

#Direccion{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}

#Numero{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}

#celular{
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
    text-transform:uppercase; 
}   

#eliminar{
    width: 60px;
}

#botonX{
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    margin-top: -5%;
    margin-left: 19%;
}

#datosPerosnales{
    width: 100%;
    text-align: center;
}

#editar{
    width: 50px;
}

#Editar{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    margin-top: -5%;
}

#tarjeta{
    border: 1px solid;
    height: 100%;
    width: 100%;
    row-gap: 20px;
    color: black;
    background-color: white;
    border-radius: 10%;
    max-width: 283px;
    max-height: 380px;
}

#agregar{
    width: 100%;
}

#agregarProducto{
    background-color: black;
    width: 100%;
}

@media (max-width: 1024px) {
    #conetendor{
        top: 6%;
        left: 15%;
        max-width: 900px;
    }
    #masProveedor{
        top: 1%;
    }
}

@media (max-width: 800px) {
    #conetendor{
        top: 6%;
        left: 17%;
        max-width: 600px;
    }
    #masProveedor{
        top: 1%;
    }
    .row{
        gap: 5%;
        row-gap: 20px;
    }
}