#totalcontenido{
    background-color: white;
    border-color: black;
    border: 1px solid;
    width: 100%;
    height: 100%;
    max-width: 590px;
    max-height: 460px;
    position: absolute;
    top: 17%;
    left: 29%;
    border: transparent;
    box-shadow: 0 0 10px rgb(147, 175, 252);
    border-radius: 4px;
}

input{
    border: 1px solid #0d6efd;
    border-radius: 4px;
}
input:focus{
    outline: none;
}
#codigo{
    border: 1px solid #0d6efd;
    border-radius: 4px;
    color: #0d6efd;
    position: absolute;
    width: 270px;
    height: 35px;
    font-size: 20px;
    text-align: center;
}
#codigo:focus{
    outline: none;
}

label{
    margin-left: 20px;
}

#p{
    text-align: center;
    font-size: 35px;
    width: 100%;
    color: #0d6efd;
}

#NOMBRE{
    position: absolute;
    top: 15%;
}

#NombreProveedor{
    position: absolute;
    left: 300px;
}

#DIRECCION{
    position: absolute;
    top: 30%;
}

#Direccion{
    position: absolute;
    left: 300px;
}


#CELULAR{
    position: absolute;
    top: 45%;
}

#TELEFONO{
    position: absolute;
    top: 60%;
}

#Celular{
    position: absolute;
    left: 300px;
}

#Telefono{
    position: absolute;
    left: 300px;
}

#ESTADO{
    position: absolute;
    top: 75%;
}

#codigo{
    position: absolute;
    left: 300px;
}

#guardar1{
    position: absolute;
    top: 91.3%;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #4257fa 100%);
    border-color: transparent;
    border-radius: 2px;
    color: white;
    width: 100%;
}
#guardar1:focus{
    outline: none;
}
#guardar1:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #63dcfd 0, #949ff7 100%);
    color: #0d6efd;
}

@media (max-width: 1024px ) {
    #totalcontenido{
        top: 4%;
    }
}

@media (max-width: 800px ) {
    #totalcontenido{
        left: 19%;
    }
}

@media (max-width: 640px ) {
    #totalcontenido{
        left: 13%;
    }
}