
#totalcontenido{
    background-color: white;
    border-color: black;
    border: 1px solid;
    width: 100%;
    height: 100%;
    max-width: 590px;
    max-height: 460px;
    position: absolute;
    top: 17%;
    left: 29%;
}

input{
    border: 1px solid black;
}

label{
    margin-left: 20px;
}

#p{
    text-align: center;
    font-size: 35px;
    width: 100%;
    color: #D700FF;
}

#NOMBRE{
    position: absolute;
    top: 15%;
}

#NombreProveedor{
    position: absolute;
    left: 300px;
}

#DIRECCION{
    position: absolute;
    top: 30%;
}

#Direccion{
    position: absolute;
    left: 300px;
}


#CELULAR{
    position: absolute;
    top: 45%;
}

#TELEFONO{
    position: absolute;
    top: 60%;
}

#Celular{
    position: absolute;
    left: 300px;
}

#Telefono{
    position: absolute;
    left: 300px;
}

#ESTADO{
    position: absolute;
    top: 75%;
}

#codigo{
    position: absolute;
    left: 300px;
}

#guardar1{
    position: absolute;
    top: 91.3%;
    width: 100%;
    background-color:#C7C7C7;
}

@media (max-width: 1024px ) {
    #totalcontenido{
        top: 4%;
    }
}

@media (max-width: 800px ) {
    #totalcontenido{
        left: 19%;
    }
}

@media (max-width: 640px ) {
    #totalcontenido{
        left: 13%;
    }
}