#f1{
    position: absolute;
    top: 50px;
    width: 700px;
}

#logo{
    top: 120px;
}

#totalcontenido{
    background-color: white;
    border-color: black;
    border: 1px solid;
    width: 575px;
    height: 460px;
    left: 400px;
    position: absolute;
    top: 70px;
}

label{
    margin-left: 20px;
}

#p{
    position: absolute;
    top: 10px;
    left: 130px;
    font-size: 35px;
    width: 500px;
}

#lblnprovedor{
    position: absolute;
    top: 70px;
}

#NombreProveedor{
    position: absolute;
    top: 70px;
    left: 300px;
}

#lbldireccion{
    position: absolute;
    top: 140px;
}

#Direccion{
    position: absolute;
    top: 140px;
    left: 300px;
}


#lblcelular{
    position: absolute;
    top: 210px;
}

#lbltelefono{
    position: absolute;
    top: 280px;
}

#Celular{
    position: absolute;
    top: 210px;
    left: 300px;
}

#Telefono{
    position: absolute;
    top: 280px;
    left: 300px;
}

#lblcodigo{
    position: absolute;
    top: 350px;
}

#codigo{
    position: absolute;
    top: 350px;
    left: 300px;
}

#guardar1{
    position: absolute;
    top: 420px;
    width: 100%;
}