<form action="/actualizacion/Datos/" method="post">
{{#each nombreCliente}}
<div id="ID">
    <input type="text" name="id" id="id" value="{{id}}">
</div>
<div id="NOMBRES">
    <label id="nombre">Nombres:</label>
    <input type="text" name="Nombres" id="nombres" value="{{Nombres}}" readonly>
</div>
{{/each}}
<div id="usuario">
    <label id="CEDULA">Cedula:</label>
    <input type="text" name="username" id="cedula" maxlength="10" checked>
</div>
<div id="contraseña">
    <label id="CONTASEÑA">Contraseña:</label>
    <input type="password" name="password" id="contraseña" checked>
</div>
<button type="submit">Guardar</button>
</form>

<script src=""></script>