<link rel="stylesheet" href="/css/login/login.css">
<div id="contenedor">
  <form action="/Login" method="POST">
    <div id="cedula">
      <label>Cedula:</label>
      <input type="text" name="username" id="Cedula">
    </div>
    <div id="contraseña">
      <label>Contraseña:</label>
      <input type="password" name="password" id="Contraseña">
    </div>
    <button type="submit" id="button">Ingresar</button>
    <button type="submit" id="button2"><a href="/registro">Registrate</a></button>
  </form>
</div>