#contenedor{
    position: absolute;
    top: 80px;
    left: 45px;
    width: 1250px;
}
#logo{
    top: 80px;
}

.row{
    gap: 20px;
}

#tarjeta{
    border: 1px solid;
    border-radius: 20px;
    width: 400px;
    background-color: white;
    color: black;
}

input{
    border-color: transparent;
}

#eliminar{
    width: 70px;
}

#botonX{
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    margin-top: -240px;
    margin-left: 340px;
}

#editar{
    width: 50px;
}

#BotonEditar{
    background-color: transparent;
    border-color: transparent;
}

input{
    width: 50%;
}

#codigo{
    margin-left: 40px;
}

#nombres{
    margin-left: 15px;
}

#Direccion{
    margin-left: 0px;
}

label{
    margin-left: 10px;
}

#celular{
    margin-left: 33px;
}

#agregar{
    position: absolute;
    left: 400px;
    top: 120px;
    width: 300px;
}

#mas{
    width: 50px;
}

#masProveedor{
    position: absolute;
    top: -20px;
    left: 1250px;
    background-color: transparent;
    border-color: transparent;
}