#contenido{
    position: absolute;
    top: 17%;
    left: 20%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 50%;
    max-width: 900px;
    max-height: 400px;
}

#frase{
    text-align: center;
    position: absolute;
    top: 28%;
    left: 5%;
}

#frase p{
    font-size: 29px;
    font-weight: bolder;
}

#busqueda{
    position: absolute;
    top: 60%;
    left: 27%;
}

#busqueda input{
    border: 1px solid black;
}

#flecha{
    width: 60px;
}

#siguiente{
    background-color: transparent;
    border-color: transparent;
    width: 120px;
}

#Nombres{
    width: 70%;
}