#frase{
    position: absolute;
    top: 80px;
    left: 250px;
    width: 900px;
    height: 300px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 500px;
}

#frase p{
    margin-top: 25px;
}

#busqueda{
    position: absolute;
    top: 230px;
    left: 450px;
}

#busqueda input{
    border: 1px solid black;
}

#flecha{
    width: 60px;
}

#siguiente{
    background-color: transparent;
    border-color: transparent;
    width: 120px;
    position: absolute;
    top: 60px;
    left: 200px;
}

#contenido{
    position: absolute;
    width: 1300px;
    top: 80px;
}