#frase{
    position: absolute;
    top: 120px;
    left: 350px;
    width: 50%;
    text-align: justify;
}

#busqueda{
    position: absolute;
    top: 270px;
    left: 450px;
}

#flecha{
    width: 60px;
}

#siguiente{
    background-color: white;
    border-color: black;
    width: 120px;
    position: absolute;
    top: 60px;
    left: 200px;
}

#contenido{
    position: absolute;
    width: 1300px;
    top: 80px;
}