#imagen{
    background-color: black;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
#imagen img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: absolute;
}

#contenedor{
    position: absolute;
    top: 22.5%;
    left: 35%;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    max-width: 400px;
    max-height: 350px;
    box-sizing: border-box;
    display: block;
    box-shadow: 0 0 10px rgb(147, 175, 252);
    border-radius: 4px;
}

#login{
    color: #233675;
    font-size: 90px;
}

#datos{
    position: absolute;
    top: 45%;
    left: 16%;    
}
#Usuario{
    font-size: 35px;
}

#Nombre{
    width: 100%;
    height: auto;
    max-width: 270px;
    outline: none;
    border: 1px solid #0d6efd;
    border-radius: 4px;
}

#contraseñas{
    position:absolute;
    top: 65%;
    left: 16%;
    display: flex;
}

#Contraseña{
    width: 100%;
    height: auto;
    max-width: 270px;
    outline: none;
    border: 1px solid #0d6efd;
    border-radius: 4px;
}

#boton{
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border-color: transparent;
    border-radius: 4px;
    position: absolute;
    top: 88.4%;
    width: 100%;
    color: #fff;
}
#boton:focus{
    outline: none;
}
#boton:hover{
    background-image: radial-gradient(100% 100% at 100% 0, #63dcfd 0, #949ff7 100%);

}

#sesion{
    position: absolute;
    top: 0%;
    left: 73.5%;
    font-size: 25px;
}

#sesion button{
    background-color: transparent;
    border-color: transparent;
    outline: none;
}
button{
    color: #5e6a92;

}
#sesion a {
    text-decoration: none;
}
#sesion a button {
    outline: none;
}
#sesion a button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    color: #fff;
    transition: all 0.3s;
    border-radius: 4px;
}