<LINK REL=StyleSheet HREF="/css/login/registro.css" TYPE="text/css" MEDIA=screen>
<form action="/Registro" method="POST">
  <div id="contenedor">
    <div id="imegen">
      <p id="usuario">Registra tu Usuario y Contraseña</p>
    </div>
    <div id="datos">
      <input type="text" id="Nombre" name="username" placeholder="Usuario:">
    </div>
    <div>
      <input type="password" id="Contraseña" name="password" placeholder="Contraseña:">
    </div>
    <div>
      <button type="submit" id="boton">Guardar</button>
    </div>
  </div>
</form>