<LINK REL=StyleSheet HREF="/css/login/registro.css" TYPE="text/css" MEDIA=screen>
<div id="imegen">
  <p id="usuario">Registra tu Usuario y Contrase単a</p>
</div>
<form action="/Registro" method="POST">
<div id="contenedor">
    <div id="datos">
      <label id="Usuario">Usuario: </label>
      <input type="text" id="Nombre" name="username">
    </div>
    <div>
      <label id="contrase単a">Contrase単a: </label>
      <input type="password" id="Contrase単a" name="password">
    </div>
    <div>
      <button type="submit" id="boton">Guardar</button>
    </div>
  </div>
</form>