#logo{
    top: 80px;
}

form{
    position: absolute;
    top: 90px;
    left: 400px;
    height: 500px;
    width: 550px;
    background-color: white;
    text-align: center;
}
#guardar_2{
    width: 80px;
}

#guardar1{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    left: 520px;
    top: 420px;
}

#CODIGO{
    position: absolute;
}

#PRODUCTO{
    position: absolute;
    top: 140px;
}

#CANTIDAD{
    position: absolute;
    top: 240px;
}

#PRECIO{
    position: absolute;
    top:340px;
}

#CADUCIDAD{
    position: absolute;
    top: 440px;
}

label{
    margin-left: 20px;
}

input{
    position: absolute;
    left: 250px;
}