#contenedor{
    position: absolute;
    top: 120px;
    left:170px;
}
#logo{
    top: 80px;
}

.row{
    gap: 50px;
}

#tarjeta{
    border: 1px solid;
    border-radius: 20px;
    width: 400px;
    background-color: white;
    color: black;
}

input{
    border-color: transparent;
    font-size: 23px;
}

#eliminar{
    width: 70px;
}

#botonX{
    border-color: transparent;
    background-color: transparent;
    position: absolute;
    margin-top: -250px;
    margin-left: 340px;
}

#editar{
    width: 50px;
}

#BotonEditar{
    background-color: transparent;
    border-color: transparent;
}

input{
    width: 50%;
}

#codigo{
    margin-left: 80px;
}

#NombreProducto{
    margin-left: 50px;
}

#Cantidad{
    margin-left: 43px;
    width: 80px;
}

#unidadVenta{
    width: 80px;
    margin-left: 136px;
}

#CantidadVenta{
    width: 80px;
    margin-left: -10px;
}

#precioActual{
    width: 80px;
    margin-left: 143px;
}

#FechaCadusidad{
    width: 170px;
    margin-left: 93px;
}

#agregar{
    position: absolute;
    left: 400px;
    top: 120px;
    width: 300px;
}